body {
    margin-top: 50px;
}

.jumbotron img {
    width: 25%;
}

section {
    min-height: 420px;
}

footer {
    min-height: 50px;
    padding-top:12px;
}

.nounderline {
  text-decoration: none !important;
  font-color: black;
}

course {
    padding-left: -20px;
}